
@{
    ViewBag.Title = "CodigoSQL";
}

<h2>@ViewBag.Title</h2>

<textarea class="form-control"
          id="Description"
          name="Description"
          rows="40"
          cols="20">This is value</textarea>

